<div class="pa2">
  <h3>Training maxes:</h3>
  <div class="cf">
    {{#each allTms as |trainingMaxPercentage|}}
      <div class="fl ml3 mr3">
        <input
          type="checkbox"
          checked={{contains trainingMaxPercentage tms}}
          onclick={{action 'toggleArrayElement' trainingMaxPercentage 'tms'}}
        > {{mult trainingMaxPercentage 100}}%
      </div>
    {{/each}}
  </div>
</div>

{{yield (hash
  tms=tms
  tps=tps
)}}
