<div>
  <h3>Training maxes</h3>
  {{#each allTms as |trainingMaxPercentage|}}
    <div>
      <input
        type="checkbox"
        checked={{contains trainingMaxPercentage tms}}
        onclick={{action 'toggleArrayElement' trainingMaxPercentage 'tms'}}
      > {{trainingMaxPercentage}}
    </div>
  {{/each}}
</div>

<div style="clear:both;">&nbsp;</div>
{{yield (hash
  tms=tms
  tps=tps
)}}
